// @import "parts/part.scss";
html{
	font-size: 16px;
}
body{
	font-size: 62.5%;
	background-color: #0d1521;;
	color: #989898;
	font-family: tahoma;
    color: #989898;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
#todo-table{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background: #090d13;
	padding: 3em;
	border: 1px solid #fff;
	#showData{
		display:none;
	}
	form{
		flex-basis: 100%;
		width: 100%;
		display: flex;
		margin-bottom: 1em;
		input[type="text"]{	
			flex-grow:1;	
  	  		background:#181c22;
			font-size: 2em;
			padding: .8em;
			margin: 0 1em 0 0;			
			border: 0;
		};
		button[type="submit"]{
			flex-shrink:1;
			box-sizing: border-box;		
    		background:#181c22;
    		color: #989898;
			font-size: 2em;
			border: 0;
			padding: .8em;
			cursor: pointer;
			&:hover{
				box-shadow: 0px 0px 0px 1px rgba(#FFF, 0.5%);
			}
		}
	}
	.todo-head{
		font-size: 1.2em;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		h2{
			flex-grow: 1;
		}
		p{
			padding-right: .5em
		}
		input{
			display: none;
			&:checked + label{
				color: #faac;
			}
		}
		label{
			color: #333;
			cursor: pointer;
		}
		form{
			display: inline;
			flex-basis: auto;
			width: auto;
		}
	}
	#todo-list,#done-list{
		list-style: none;
		padding: 0;
		margin: 0;
		background-color: #181c22;

	}
}

.item-block{
	width: 100%;
	padding: 1.3em;
	box-sizing: border-box;
	font-family: arial;
	font-size: 1.3em;
	cursor: pointer;
	letter-spacing: 1px;
	border-bottom: .3em solid #090d13;
	&:hover{
		// text-decoration: line-through;
		background: #0d1521;
	}
	p.item-name{
		font-size: 1.5em;
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	.item-description{
		display: none;
		font-size: .8em;
		p{
			flex-basis:100%;
			font-size: 1.4em;
			margin: 0;
			padding: 2em 0;
		}
		&.visible{
			display: flex;
			flex-wrap:wrap;
			align-items: flex-end;
		}
		.done{
			font-size: 1.4em;
			flex-grow:1;
			&:hover{
				color: #ccc;
			}
		}
		.edit, .delete{
			&:hover{
				color: #ccc;
			}
		}
		.edit{
			padding: 0 1em;
		}
		.date{
			flex-grow: 1;
		}
	}
}