<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo List</title>
	<script src="http://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="todo-table">
		<button id="showData">HIDDEN CONTROLLER</button>
		<form>
			<input id="newItem" type="text" name="item" placeholder="Add new item..." required>
			<button id="addItem" type="submit">Add item</button>
		</form>
		<ul id="todo-list">
			<!-- <li class="item-block">
				<p class="item-name">ITEM</p>
				<div class="item-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque perferendis maxime reprehenderit voluptatibus accusamus, dicta quasi quia odio nam incidunt id tempore minus, non exercitationem hic voluptate natus totam ea voluptatem praesentium fugit laborum, soluta numquam! Error debitis iusto, soluta possimus aspernatur necessitatibus inventore ipsa. Commodi aliquam quam praesentium vel!
					</p>
					<span class="edit">Edit</li>
					<span class="delete">Remove</span> 
				</div>
			</li> -->
		</ul>
	</div>	
	<script src="/client.js"></script>
</body>
</html>