<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo List</title>
	<script src="http://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div class="wrapper">
		<div id="todo-table">
			<button id="showData">HIDDEN CONTROLLER</button>
			<form>
				<input id="newItem" type="text" name="item" placeholder="Add new item..." >
				<button id="addItem" type="submit">Add item</button>
			</form>
			<div class="todo-head">
				<h2>Your current tasks: </h2>
				<p>Sort by
					<form id="todo-sort-form">
						<input type="radio" id="sort-date" name="todo-sort" checked><label for="sort-date">date</label> / 
						<input type="radio" id="sort-name" name="todo-sort"><label for="sort-name">name</label>
					</form>
				</p>				
			</div>
			<ul id="todo-list">
				<!-- <li class="item-block">
					<p class="item-name">ITEM</p>
					<div class="item-description">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque perferendis maxime reprehenderit voluptatibus accusamus, dicta quasi quia odio nam incidunt id tempore minus, non exercitationem hic voluptate natus totam ea voluptatem praesentium fugit laborum, soluta numquam! Error debitis iusto, soluta possimus aspernatur necessitatibus inventore ipsa. Commodi aliquam quam praesentium vel!
						</p>
						<span class="done">Done!</span>
						<span class="edit">Edit</li>
						<span class="delete">Remove</span> 
					</div>
				</li> -->
			</ul>
			<h2>Finished tasks: </h2>
			<ul id="done-list">
<!-- 				<li class="item-block">
					<p class="item-name">Todo name</p>
					<div class="item-description">
						<p>Here see todo descr</p>
						<span class="date">24/04/18</span>
						<span class="delete">Remove 4ever</span>
					</div>
				</li> -->
			</ul>
		</div>	
	</div>		
	<script src="/client.js"></script>
</body>
</html>